header
    width: 100%
    .menu
        width: 100%
        display: flex
        flex-direction: row
        .logo
            width: 25%
            img
                display: inline-block
                width: 100%
        .services-header
            width: 75%
            display: flex
            flex-direction: row
            justify-content: space-between
            padding-right: 50px
            padding-left: 50px
            align-items: center
            .item
                text-decoration: none
                color: #000