* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}

header .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .menu .logo {
  width: 25%;
}

header .menu .logo img {
  display: inline-block;
  width: 100%;
}

header .menu .services-header {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu .services-header .item {
  text-decoration: none;
  color: #000;
  padding: 30px;
}

header .menu .services-header .item:hover {
  background: #056636;
  color: #fff;
}

header .menu .sub-menu {
  display: none;
}

header .menu .sub-menu .fa-bars {
  font-size: 2em;
  color: #000;
}

header .fondo {
  width: 100%;
  height: 550px;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  position: relative;
}

header .fondo .mensaje {
  background: rgba(0, 0, 0, 0.25);
  width: 65%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  bottom: 0;
  left: 20%;
}

header .fondo .mensaje h1 {
  color: #fff;
}

header .fondo .mensaje p {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

.services {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 25px;
}

.services .service {
  width: 48%;
  height: 250px;
  position: relative;
}

.services .service.sub-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .service.sub-service .service_sub {
  width: 48%;
  height: 250px;
  position: relative;
}

.services .service.sub-service .service_sub .img-sub {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.services .service.sub-service .service_sub .img-sub img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .service.sub-service .service_sub p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 999;
  position: absolute;
  color: #fff;
  font-size: 1.9em;
  top: 80%;
}

.services .service.sub-service .service_sub .hover {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  cursor: pointer;
}

.services .service.sub-service .service_sub .hover:hover {
  background: rgba(0, 0, 0, 0.4);
}

.services .service .img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.services .service .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .service p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 999;
  position: absolute;
  color: #fff;
  font-size: 1.9em;
  top: 80%;
}

.services .service .hover {
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  cursor: pointer;
}

.services .service .hover:hover {
  background: rgba(0, 0, 0, 0.4);
}

.family {
  width: 100%;
  height: 300px;
  position: relative;
}

.family .container-family {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.family .container-family img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.family p {
  position: absolute;
  color: #fff;
  bottom: 45%;
  left: 15%;
  font-size: 2.5em;
  font-weight: bold;
  z-index: 3;
}

.family .cover-family {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.267);
  position: absolute;
}

.icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.icons .icon {
  width: 24%;
}

.icons .icon .img {
  width: 35%;
  margin: auto;
  padding-bottom: 15px;
}

.icons .icon .img img {
  width: 100%;
}

.icons .icon p {
  text-align: center;
  font-size: 1.4em;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #DED1B5;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .links {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links a {
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
}

footer .links a:hover {
  color: rgba(5, 102, 53, 0.699);
}

footer .links-m {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .family p {
    left: 5%;
  }
}

@media only screen and (max-width: 1108px) {
  header .menu .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu .logo img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header .menu .services-header {
    width: 70%;
  }
}

@media only screen and (max-width: 1057px) {
  header .fondo .mensaje {
    left: 15%;
  }
  .family p {
    left: 2%;
  }
}

@media only screen and (max-width: 1022px) {
  .family p {
    font-size: 2em;
    left: 7%;
  }
}

@media only screen and (max-width: 995px) {
  header .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .menu .logo {
    width: 25%;
  }
  header .menu .services-header {
    width: 100%;
  }
  header .menu .services-header.visible {
    display: none;
  }
  header .menu .sub-menu {
    width: 75%;
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
  header .menu .sub-menu i {
    float: right;
    margin-right: 40px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 930px) {
  header .fondo {
    height: 400px;
  }
  .services {
    height: 500px;
    padding-bottom: 0px;
  }
  .services .service {
    height: 200px;
  }
  .services .service.sub-service .service_sub {
    height: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .icons .icon {
    width: 35%;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .icons {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 850px) {
  .services {
    height: 850px;
  }
  .services .service {
    width: 90%;
  }
  .services .service.sub-service .service_sub {
    width: 49%;
  }
  .services .service.sub-service .service_sub p {
    top: 45%;
    left: 30%;
  }
  .services .service p {
    top: 45%;
    left: 30%;
  }
  .family {
    height: 250px;
  }
  .family p {
    bottom: 35%;
    text-align: center;
    left: 2%;
    right: 2%;
  }
}

@media only screen and (max-width: 750px) {
  header .menu .services-header .item {
    text-align: center;
  }
}

@media only screen and (max-width: 723px) {
  header .menu .services-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .menu .services-header .item {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header .fondo .mensaje {
    width: 75%;
    left: 13%;
  }
}

@media only screen and (max-width: 700px) {
  footer .links {
    display: none;
  }
  footer .links-m {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .links-m a {
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
  }
  footer .links-m a:hover {
    color: rgba(5, 102, 53, 0.699);
  }
}

@media only screen and (max-width: 650px) {
  header .fondo .mensaje {
    width: 80%;
    left: 10%;
  }
  .services {
    height: 650px;
  }
  .services .service {
    height: 150px;
  }
  .services .service.sub-service .service_sub {
    height: 150px;
  }
}

@media only screen and (max-width: 580px) {
  header .menu .logo {
    width: 35%;
  }
  header .menu .sub-menu {
    width: 65%;
  }
  .services .service p {
    left: 25%;
  }
  .family {
    height: 200px;
  }
}

@media only screen and (max-width: 560px) {
  header .fondo .mensaje {
    bottom: 20%;
    width: 85%;
    left: 8%;
  }
}

@media only screen and (max-width: 480px) {
  header .menu .logo {
    width: 45%;
  }
  header .menu .sub-menu {
    width: 55%;
  }
  .icons .icon {
    width: 30%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .services .service p {
    left: 18%;
  }
  .services.sub-service .service_sub p {
    left: 18%;
  }
}

@media only screen and (max-width: 440px) {
  .icons .icon p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 402px) {
  .services .service p {
    left: 14%;
  }
  .services.sub-service .service_sub p {
    left: 14%;
  }
}

@media only screen and (max-width: 382px) {
  .services .service p {
    left: 12%;
  }
  .services.sub-service .service_sub p {
    left: 12%;
  }
}

@media only screen and (max-width: 382px) {
  footer .links-m {
    width: 40%;
  }
}

@media only screen and (max-width: 360px) {
  .services .service p {
    left: 7%;
  }
  .services.sub-service .service_sub p {
    left: 7%;
  }
}

@media only screen and (max-width: 325px) {
  .services .service p {
    left: 7%;
    margin-top: -30px;
  }
  .services.sub-service .service_sub p {
    left: 7%;
  }
}
/*# sourceMappingURL=style.css.map */